.kapela {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.clen {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (max-width: 576px) {
  .kapela {
    grid-template-columns: 1fr;
  }

  .clen {
    display: block;
  }

  .clen img {
    max-width: 200px;
    height: auto;
  }
}

