@font-face {
  font-family: "CustomFont";
  src: url("../fonty/PROPAGAN.ttf");
}

* {
  cursor: url("../obrazky/cropped-image.png"), auto;
}

html {
  background: url("../obrazky/pozadi/pozadi2.jpg");
  font-family: "CustomFont", sans-serif;
}

body {
  background-image: url("../obrazky/pozadi/pozadi.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  padding-inline: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  min-height: 100dvh;
}

img {
  width: 100%;
  height: auto;
}

aside {
  ul {
    font-size: 22px;
    list-style: none;
    padding: 0;

    li {
      background-image: url("../obrazky/bannery/drevo-banner.gif");
      background-repeat: no-repeat;
      background-clip: border-box;
      background-size: 100% 100%;
      padding: 1rem;
      margin: 1rem;

      a {
        padding-left: 12px;
      }
    }
  }

  .image-container {
    width: 50px;
    height: auto;
  }
}

h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 2;
  color: #6e1515;
  text-shadow: -1px -1px #c98316;
  margin: 0;
}

header {
  .header-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("../obrazky/bannery/drevo-banner.gif");
  }
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1rem;
  margin-top: 2rem;
  grid-area: main;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  padding-inline: 2rem;
}

hr {
  background-image: url("../obrazky/oddelovace/provaz.gif");
  height: 38px;
  width: 100%;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: 100%;
  border: 0;
}

button:hover, a:hover, link:hover, input:hover {
  cursor: url("../obrazky/piva/bier-beer.gif"), pointer;
}

.flex {
  display: flex;
  gap: 1rem;

  &.flex-column {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-center {
    align-items: center;
    justify-content: center;
  }
}

.content-container {
  padding: 1rem;
}



@media screen and (max-width: 956px) {
  header {
    h1 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    h1 {
      font-size: 1.5rem;
    }
  }

  aside {
    nav {
      ul {
        font-size: 16px;

        li {
          padding: 8px;
        }
      }
    }
  }

  main {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .content-container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 576px) {
  body {
    padding-inline: 3rem;
  }
}